.sectionList {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .sectionList {
    flex-direction: column;
  }
}

.section {
  flex: 40%;
}
.section:nth-child(2n + 1):not(:last-of-type) {
  margin-right: 32px;
}
.section:not(:last-of-type) {
  margin-bottom: 32px;
}
@media (max-width: 800px) {
  .section:nth-child(2n + 1):not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .section:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.section h2 {
  font-size: 24px;
}

.section a {
  color: #222;
  outline: none;
}
.section a:hover,
.section a:focus {
  color: #fff;
  background: #222;
  text-decoration: none;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sectionContent img {
  margin-right: 32px;
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
}
@media (max-width: 800px) {
  .sectionContent img {
    width: calc(100% + 48px);
    margin: 0 -24px 16px;
  }
}
